@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Roboto;
}

.container {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template: auto 4fr / 1fr 4fr;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

.sidebar img {
    width: 2rem;
    filter: invert(1);
}

.sidebar {
    display: grid;
    grid-template-rows: auto auto 3fr;
    grid-area: 1 / 1 / 3 / 2;
    background: royalblue;
    color: white;
    gap: 5rem;
}

.sidebar li {
    display: flex;
    font-size: 1.2rem;
    padding-left: 3rem;
    align-items: center;
    gap: 2rem;
}

.sidebar-title {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 2rem;
    font-size: 1.4rem;
}

.sidebar-topbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-area: 2 / 1 / 3 / 2;
    grid-template-rows: repeat(6, 1fr);
}

.sidebar-bottombar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-area: 3 / 1 / 4 / 2;
    grid-template-rows: repeat(3, 1fr);
}

.nav {
    padding: 0.5rem 1rem;
    display: grid;
    grid-template: auto 1fr / 2fr 1fr;
    grid-area: 1 / 2 / 2 / 3;
    gap: 1rem;
}

.nav-icons {
    width: 2rem;
}

#search-bar {
    display: flex;
    align-items: center;
    gap: 2rem;
}

input {
    background-color: lightslategrey;
    flex: 1;
    border: none;
    height: 1.5rem;
    border-radius: 20px;
}

#user-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 0.8rem;
}

#user-homepage .user-photo {
    width: 4rem;
    height: auto;
    border-radius: 50px;
}

#user-greeting {
    display: grid;
    grid-template: 1fr 1fr / auto 1fr;
    gap: 0.5rem 1rem;
}

#user-greeting .user-photo {
    width: 6rem;
    height: auto;
    border-radius: 100px;
    grid-row: 1 / 3;
    align-self: center;
}

#user-greeting p {
    align-self: flex-end;
}

#user-greeting h4 {
    font-size: 1.5rem;
    align-self: flex-start;
}

#user-commands {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

button {
    background-color: royalblue;
    color: white;
    border: none;
    font-size: 1rem;
    width: 6rem;
    height: 2rem;
    border-radius: 50px;
}

.main-panel {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-area: 2 / 2 / 3 / 3;
    gap: 2rem;
    padding: 1rem;
}

.projects {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-area: 1 / 1 / 3 / 2;
    gap: 15px;
}

.project-card {
    border: 1px solid black;
    border-radius: 20px;
}

.project-title {
    padding: 1rem;
}

.project-description {
    padding: 1rem;
}

.card-options {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 0 1rem 1rem 0;
}

.card-options img {
    width: 2rem;
}

.announcements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-area: 1 / 2 / 2 / 3;
    border: 1px solid black;
    gap: 15px;
}

.announcement-card h4 {
    padding: 1rem;
}

.announcement-card p {
    padding: 1rem;
    overflow: hidden;
}


.announcement-card {
    border: 1px solid black;
    overflow: hidden;
}

.trending {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-area: 2 / 2 / 3 / 3;
    border: 1px solid black;
    gap: 15px;
}

.trending-card {
    border: 1px solid black;
    display: grid;
    grid-template: 1fr 1fr / auto 1fr;
}

.trending-card img {
    width: 3rem;
    height: auto;
    border-radius: 50px;
    grid-area: 1 / 1 / 3 / 2;
    padding: 1rem;
    align-self: center;
}

.trending-group {
    grid-area: 1 / 2 / 2 / 3;
    color: red;
    padding: rem;
    align-self: end;
}

.trending-card p {
    grid-area: 2 / 2 / 3 / 3;
    padding: 1rem;
    align-self: flex-start;
}
