@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Roboto;
}

.container {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

img {
    width: 2em;
    filter: invert(1);
}

.sidebar {
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    grid-area: 1 / 1 / 3 / 2;
    border: 1px solid black;
    background: royalblue;
    color: white;
}

.sidebar li {
    display: flex;
    font-size: 1.2rem;
    padding-left: 3rem;
    align-items: center;
    gap: 2rem;
}

.sidebar-title {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 2rem;
    font-size: 1.4rem;
}

.sidebar-topbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-area: 2 / 1 / 3 / 2;
    grid-template-rows: repeat(6, 1fr);
}

.sidebar-bottombar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-area: 3 / 1 / 4 / 2;
    grid-template-rows: repeat(3, 1fr);
}

.nav {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-area: 1 / 2 / 2 / 3;
    border: 1px solid black;
    gap: 15px;
}

.nav-sub-menu {
    border: 1px solid black;
}

.main-panel {
    display: grid;
    grid-template: 2fr 1fr / 4fr 1fr;
    grid-area: 2 / 2 / 3 / 3;
    border: 1px solid black;
    gap: 15px;
    padding: 40px;
}

.projects {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    grid-area: 1 / 1 / 3 / 2;
    border: 1px solid black;
    gap: 15px;
}

.project-card {
    border: 1px solid black;
}

.announcements {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-area: 1 / 2 / 2 / 3;
    border: 1px solid black;
    gap: 15px;
}

.announcement-card {
    border: 1px solid black;
}

.trending {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-area: 2 / 2 / 3 / 3;
    border: 1px solid black;
    gap: 15px;
}

.trending-card {
    border: 1px solid black;
}
